* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  body {
  
    background: url('./detail-rice-plant-sunset-valencia-with-plantation-out-focus-rice-grains-plant-seed_181624-25838\ \(1\).avif') no-repeat center center/cover; /* Replace with your image path */
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .container {
   justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background: #22b13a;
    color: #ffffff;
    padding: 0;
  }
  

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 ;
    padding: 0 20px;
}

.logo-container {
    flex-shrink: 0;
    margin-right: 20px;
}

.navbar-logo {
    max-height: 80px;
    width: auto;
    margin-left: 10px;
    padding: 5px;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: 50px;
}

.nav-menu li {
    margin: 0 15px;
    position: relative;
}

.nav-menu li a {
    color: #ffffff;
    font-size: 19px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    transition: color 0.3s, box-shadow 0.3s;
}
.active{
    color: #66ff66;
}

.nav-menu li a::before,
.nav-menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Positioned slightly below the text */
    height: 2px;
    width: 0;
    transition: width 0.3s ease;
}

.nav-menu li a::before {
    background: #00ff00; /* Neon green line */
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; /* Neon glow effect */
}

.nav-menu li a::after {
    background: #ffffff; /* Whitish line */
    opacity: 0.5;
}

.nav-menu li a:hover::before,
.nav-menu li a:hover::after {
    width: 100%; /* Expand the line on hover */
}